# Environment
.env
.env.*

# Go
bin/
*.exe
*.test
vendor/

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.pytest-workspaces/
.pytest_cache/
**/.pytest_cache/